<!-- resume main body -->

<div class="container resume-parent-div">

  <!-- First Row -->

  <div class="row mt-5 d-flex justify-content-between">

    <!-- section: basic information: Name, Designation, About Me, Contacts, Interests -->

    <div class="col-lg-5 basic-information-container">

      <section class="p-4 basic-information" *ngIf="showAboutMe; else showAboutMeText">

        <!-- sub-section: name and designation -->
        <h1 class="">{{name.toUpperCase()}}</h1>
        <h5 class="mb-5"> {{designation}} </h5>

        <!-- sub-section: contacts and about me -->
        <div class="basic-information-extension">
          <div class="contact-details" *ngFor="let contact of contactDetails">
            <span class="contact-details-type"> {{contact.type.substring(0,1).toUpperCase()}} </span>
            <span class="contact-details-value mx-2"> {{contact.value}} </span>
          </div>

          <!-- sub-section: about me: button -->
          <div class="about-me-container d-flex justify-content-end">
            <button class="about-me-btn" (click)="toggleShowAboutMe()"> {{showAboutMeButtonValue}} </button>
          </div>
        </div>

      </section>

      <section class="mt-3 p-4 interest-details-container">

        <h1 class="mb-5"> {{"interests".toUpperCase()}} </h1>

        <div class="interest-details d-flex justify-content-between">
          
          <div class="interest-details-boxes" *ngFor="let interest of interestsDetails">
            <span class="interest-details-icon" [innerHTML]="interest.icon"></span>
          </div>
        </div>
      </section>

      <!-- about me -->
      <ng-template #showAboutMeText>
        <section class="show-about-me-text-container p-5">
          <h5> {{aboutme}} </h5>

          <!-- flip back: button -->
          <div class="about-me-container d-flex justify-content-end">
            <button class="about-me-btn" (click)="toggleShowAboutMe()"> {{showAboutMeButtonValue}} </button>
          </div>
        </section>
      </ng-template>

    </div>


    <!-- section: education details -->
    

  </div>

  <!-- Second Row -->
  <div class="row mt-3 d-flex justify-content-between">
    
    <!-- section: work experience -->
    

  </div>


</div>
