.basic-information-container{
  color: #FFFFFF;
  border-radius: 20px;
  background-image: url("../../assets/background-1.jpg");
  transition: 0.5s ease-in-out;
  min-height: 314px; /* Set a minimum height */
  min-width: 610px; /* Set a minimum width */

  max-height: 314px;
  max-width: 610px;
}

.basic-information-container:hover{
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #373A40;
}

.work-experience-container{
  color: #FFFFFF;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  background-image: url("../../assets/background-2.jpg");
}

.interest-information-container{
  background-image: url("../../assets/background-3.png");
}

.work-experience-container:hover{
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #373A40;
}

.contact-details-type, .contact-details-value
{
  font-size: 25px;
}

.about-me-btn{
  border: none;
  background: none;
  color: #FFFFFF;
}
