<!-- landing page main body -->
<div class="container landing-parent-div">

  <!-- basic details -->
  <div class="row mt-5">

    <div class="col-lg-12 basic-details">

      <div class="row">

        <!-- profile picture -->
        <div class="col-lg-5 col-md-12 profile-picture text-center">
          <div class="profile-picture-container d-flex justify-content-center justify-content-lg-end d-flex align-items-center">
            <img class="image-profile" src="../../assets/profile-pic-1.png" alt="profile-picture">
          </div>
        </div>

        <!-- basic info -->
        <div class="col-lg-7 col-md-12 basic-info mt-3">

          <!-- name, designation and current company -->
          <div class="basic-info-part1">
            <h1>{{name}}</h1>
            <span> {{designation}} | {{currentCompany}} </span>
          </div>
          <br>

          <!-- introduction -->
          <div class="basic-info-part2">
            <h5>A bit about me</h5>
            <p>{{introduction}}</p>
          </div>

          <!-- action links -->
          <div class="action-links d-flex justify-content-between">
            <div
              class="action-links-link d-none d-lg-block mx-1" *ngFor="let link of actionlinks">
              <a [routerLink]="[link.link]"
              >

                {{link.action}}
              </a>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>


  <!-- notice period widget -->
  <div class="row mt-5">
    <hr style="box-shadow: 1px 1px 1px lightgray;">
    <div class="mx-auto col-lg-12 notice-period-widgets">
      <app-notice-period-chart-doughnut-2-d></app-notice-period-chart-doughnut-2-d>
    </div>
  </div>

</div>
