.basic-details{
}

.profile-picture{
}

.profile-picture-container{
  height: 100%;
  width: 100%;
}

.profile-picture-container img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.basic-info{
}

.basic-info-part1{
}

.basic-info-part2{
  width: 75%;
  overflow-wrap: break-word;
}

.action-links{
  width: 75%;
}

.action-links-link{

}

.action-links-link a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid #222831;
  border-radius: 50%;
  color:  #EEEEEE;
  background-color:#222831;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.action-links-link a:hover{
  cursor: pointer;
  color: #222831;
  font-weight: 800;
  box-shadow: 1px 1px 15px lightgray;
  background-color: #20c997;
}

.notice-period-widgets{
  transition: 0.5s ease-in-out;
  width: auto;
  height: auto;
  padding: 0;
}

.notice-period-widgets:hover{
  width: auto;
  height: auto;
  padding: 0;
  cursor: pointer;
  box-shadow: 1px 1px 15px lightgray;
  background-color: #EEEEEE;
}
