<!-- main body -->

<div class="landing-page-parent-div">

    <!-- Visiting card -->
    <div class="visting-card d-flex mx-auto mt-5">

        <!-- Profile picture -->
        <div class="profile-pic mx-3 mt-auto mb-auto">
            <img [src]="image" alt="profile-picture">
        </div>

        <!-- Visiting card content -->
        <div class="visting-card-content">

            <!-- Short introduction -->
            <div class="short-introduction p-2">
                <h1>{{name}}</h1>
                <h5>{{designation}} | {{currentCompany}}</h5>

                <h3 class="">A bit about me</h3>
                <p>
                    {{introduction}}
                </p>

                <!-- Action links -->
                <div class="action-links d-flex justify-content-between">
                    <a *ngFor="let link of actionlinks" [routerLink]="[link.link]">
                        {{link.action}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>